---
import type { FaqItem } from '@data/faqs';
import { getPaddingClass, getBackgroundColor, getHeadlineColor, getTextColor } from '@utils/styleUtils';
import type { PaddingSize, ThemeColor } from '@utils/styleUtils';
import Eyebrow from '@components/ui/Eyebrow.astro';
import Details from '@components/ui/Details.astro'

export interface Props {
    content: {
        eyebrow?: string;
        title?: string;
        description?: string;
        faqs: FaqItem[];
    };
    background?: ThemeColor;
    padding?: PaddingSize;
    paddingTop?: PaddingSize;
    paddingBottom?: PaddingSize;
}

const {
    content: { eyebrow, title, description, faqs },
    background = 'base'
} = Astro.props;

const bgColor = getBackgroundColor(background);
const paddingClass = getPaddingClass({ 
    padding: Astro.props.padding,
    paddingTop: Astro.props.paddingTop,
    paddingBottom: Astro.props.paddingBottom 
});

const headlineColor = getHeadlineColor(background);
const textColor = getTextColor(background);
---

<section class:list={["relative", bgColor, paddingClass]}>
    <div class="site-container px-4">
        {(title || description) && (
            <div class="max-w-3xl mx-auto text-center mb-12">
                {eyebrow && (
                    <Eyebrow 
                        text={eyebrow} 
                        background={background} 
                    />
                )}
                {title && <h2 data-aos="fade-up" class:list={["text-3xl font-bold mb-4", headlineColor]}>{title}</h2>}
                {description && <p data-aos="fade-up" class:list={["text-lg", textColor]}>{description}</p>}
            </div>
        )}
        
        <div class="max-w-3xl mx-auto">
            <div class="divide-y divide-gray-200">
                {faqs.map(({ question, answer }, index) => (
                  <Details
                    class="py-6"
                    data-aos="fade-up"
                    data-aos-delay={index * 100}
                  >
                      <span slot="heading" class="pr-8 text-xl font-semibold" class:list={[headlineColor]}>{question}</span>
                      <div class="overflow-hidden">
                          <div class:list={["pt-4 pr-8 text-small", textColor]}>{answer}</div>
                      </div>
                  </Details>
                ))}
            </div>
        </div>
    </div>
</section>
