---
import { getCollection } from 'astro:content';
const teamMembers = await getCollection('team', ({ data }) => {
    return data.publish !== false;
});
---

<section class="py-16">
    <div class="site-container mx-auto px-4">
    <div class="grid gap-12 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 lg:gap-8">
        {
        teamMembers.map((member) => (
            <a href={`/team/${member.slug}`} 
            class="flex flex-col group rounded-md">
                <div class="relative mb-4 overflow-hidden rounded-md">
                    <span class="absolute inset-0 -mt-12 h-400 w-1/2 translate-x-[250%] rotate-12 bg-white opacity-20  group-hover:transition-all  group-hover:duration-300 ease-out group-hover:translate-x-[-250%] z-10"></span>
                    <img
                        class="w-full object-cover rounded-md relative
                        group-hover:scale-[1.02] hover:brightness-125 
                        transition-all duration-500 ease-in-out"
                        src={member.data.headshot}
                        alt={member.data.name}
                    />
                </div>
                <h3 class="text-lg font-medium transition-colors duration-500 group-hover:text-primary">{member.data.name}</h3>
                <p class="text-sm text-gray-600">{member.data.jobTitle}</p>
            </a>
        ))
        }
    </div>
    </div>
</section>
