---
// src/components/BlogPost.astro
import { categories } from '../../data/categories';
import CategoryPill from '../ui/CategoryPill.astro';
import Date from '../ui/Date.astro';

interface Props {
  title: string;
  excerpt: string;
  featuredImage: string;
  publishDate: Date;
  categories: string[];
  content: string;
  slug?: string;
}

const { title, excerpt, featuredImage, publishDate, categories: postCategories, slug } = Astro.props;

// Validate categories against the valid categories
const validCategories = postCategories.filter((categoryName: string) => 
  categories.some(category => category.name === categoryName)
);
---

<a 
  href={`/blog/${slug}`} 
  class="group flex flex-col h-full overflow-hidden bg-white rounded-lg border border-black transition-all duration-300"
>
  <div class="relative aspect-[16/9] overflow-hidden border-black border-b">
    <img 
      src={featuredImage} 
      alt={title} 
      class="object-cover w-full h-full group-hover:scale-105 transition-transform duration-300"
    />
    <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>
  </div>
  
  <div class="pb-8 py-4 px-4 flex flex-col flex-grow">
    <div class="flex justify-between items-center mb-3">
      <div class="flex flex-wrap gap-2">
        {validCategories.map(categoryName => (
          <div onclick="event.stopPropagation()">
            <CategoryPill category={categoryName} />
          </div>
        ))}
      </div>
      <Date date={publishDate} />
    </div>

    <h2 class="text-xl font-bold text-gray-900 group-hover:text-blue-600 transition-colors duration-300">
      {title}
    </h2>
    
    <p class="mt-2 text-text line-clamp-4 flex-grow text-small">
      {excerpt}
    </p>
  </div>
</a>