---
import BlogPost from './BlogPost.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<ul>
  {posts.map((post) => (
    <li>
      <BlogPost 
        title={post.data.title}
        excerpt={post.data.excerpt}
        featuredImage={post.data.featuredImage || ''}
        publishDate={post.data.publishDate}
        categories={post.data.categories || []}
        content={post.body}
        slug={post.slug}
      />
    </li>
  ))}
</ul>

<style>
  ul {
    list-style-type: none;
    padding: 0;
  }
</style>